body, p {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.logo {
    max-width: 100px;
}

.content {
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0070c0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}