body, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.logo {
    max-width: 150px;
}
.content {
    padding: 20px;
}

.mission-vision {
    text-align: center;
    margin-top: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}